@import "tailwindcss";
html, body, #root {
  height: 100%;
  min-height: 100%;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* Removed the following to allow scrolling:
#root > *, body > *, html > * {
  height: 100%;
}
*/

